

table
    {
        border-collapse: collapse;
        color:black;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        background-color: white;
        
        box-shadow: 10px 10px 5px grey;
        
        
    }

th
    {
        font-weight: 800;
        background-color: aqua;
        
    }


tr:nth-child(odd)
    {
       background-color: azure; 
    }


tr.headings
    {
        background-color: aqua;
        border-bottom: 3px solid aqua;
        border-left: 3px solid aqua;
        border-right: 3px solid aqua;
        border-left: 3px solid aqua;
        padding: 35px;
        text-align: center;
        font-weight: 900;
       
        
    }



tr:hover
    {
        color: crimson;
        background-color: aliceblue;
        font-family: cursive;
        font-weight: 500;
        border-bottom: 3px solid #FFE87C;
        border-top: 3px solid #FFE87C;
        
        border-radius: 0 0 25px 25px;
        border-radius: 25px 25px 0 0;
        border-bottom-style: 
        
        
    
   
    }

.header
    {
        padding: 1px;
        text-align: center;
        font-weight:bold;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        background-color: forestgreen;  
    }

.middle
    {
       background-image: url(theater-box-office-sign-14845567.jpg);
    }

.footer
{
    background-color: greenyellow;
    padding: 1px;
}


.center
    {
        margin-left: auto;
        margin-right: auto;
    }
